fastapi
uvicorn
neo4j
python-dotenv
langchain-core
langchain-neo4j
langchain-openai
langchain-google-genai
langchain-cohere
pydantic
requests
httpx
python-multipart
bcrypt
python-jose[cryptography]
email-validator
python-docx
PyPDF2
json-repair
bleach
libsql-experimental
